*{
   box-sizing: border-box; 
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}



.centerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 50vw;
}

.orderForm{
    display: flex;
    flex-direction: column;
}

.buttonsLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 20vw;
}